/* Write your CSS here */
.card-logo-style {
  height: 120px;
  width: 100px;
  margin-right: 25px;
}
.link-list-item {
  list-style-type: none;
  display: flex;
  padding: 15px;
  height: 200px;
  width: 450px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  margin: 15px;
}
